/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
    color: #e0e0e0;
}
header {
    background-color: #1b1b1b;
    color: #e0e0e0;
    padding: 16px 0;
    width: 100%;
    box-sizing: border-box;
}
.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    margin: 0;
    font-size: 40px;
}
.header-links {
    display: flex;
    gap: 16px;
    align-items: center;
}
.header-links a {
    color: #e0e0e0;
    text-decoration: none;
    font-size: 24px;
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 4px;

}
.header-links a:not(.portfolio-button):hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.header-links a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.header-links .portfolio-button {
    border: 2px solid #ffffff;
    padding: 4px 40px;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    transition: background-color 0.3s, color 0.3s;
}
.header-links .portfolio-button:hover {
    background-color: #ffffff;
    color: #121212;
}
main {
    padding: 32px 10%;
    max-width: 1200px;
    margin: 0 auto;
}
.section {
    margin-bottom: 48px;
}
.section h2 {
    font-size: 32px;
    margin-bottom: 16px;
    color: #b0bec5;
    padding-bottom: 8px;
}
.projects {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 32px;
    justify-content: center;
}
.project {
    background: #1e1e1e;
    border-radius: 8px;
    border: 1px solid #2c2c2c;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
}
.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.project h3 {
    margin: 16px;
    margin-top: 16px;
    color: #b0bec5;
    padding: 0 16px;
}
.project p {
    margin: 16px;
    color: #cfd8dc;
    padding: 0 16px;
}
.education {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 32px;
    justify-content: center;
}
.education-box {
    background: #1e1e1e;
    border-radius: 8px;
    padding: 16px;
    border: 1px solid #2c2c2c;
    text-align: center;
}
.education-box.wide {
    grid-column: span 3;
    width: 50%;
    margin: 0 auto;
}
.education-box h3 {
    margin-top: 0;
    color: #b0bec5;
}
.education-box p {
    color: #cfd8dc;
}